<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:;"><span class="glyphicon glyphicon-phone"></span>demo</a></li>
                <li><a href="javascript:;"><span class="glyphicon glyphicon-briefcase"></span>demo</a></li>
                <li><a href="javascript:;"><span class="glyphicon glyphicon-leaf"></span>demo</a></li>
                <li><a href="javascript:;"><span class="glyphicon glyphicon-save"></span>demo</a></li>
            </ul>
        </div>
    </div>
    <div>
    </div>
</nav>